# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Sphinx documentation
docs/_build/

# Dev tools
.idea

# Environments
/.venv
