/** Timelines of pipeline runs */

div.timeline {
    overflow: hidden;
    position: relative;
}

div.timeline > div.timeline-line {
    position: relative;
    margin-top: 2px;
    margin-bottom: 1px;
}

div.timeline a.timeline-node {
    display: block;
    position: absolute;
    top: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    opacity: 0.9;
    z-index: 1;
}

div.timeline a.timeline-node.status-running {
    background-color: #666;
}

div.timeline a.timeline-node.status-unfinished {
    background-color: #666;
    background: linear-gradient(90deg, #666 0%, #bbb 100%);
}

div.timeline a.timeline-node.status-succeeded {
    background-color: green;
}

div.timeline a.timeline-node.status-failed {
    background-color: red;
}

div.timeline a.timeline-node.type-pipeline {
    opacity: 0.5;
}


div.timeline a.timeline-node:not(:first-child) {
    border-left: 1px solid white;
}

div.timeline > div.timeline-axis {
    position: relative;
    height: 20px;
}


div.timeline-axis > div.timeline-axis-label {
    position: absolute;
    bottom: -3px;
    /*padding-left:3px;*/
    color: #888;
}

div.timeline > div.timeline-grid-line {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 1px;
    border-left: 1px dashed #888;
    z-index: 0;
}